* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #1c0a00;
}

a {
  text-decoration: none;

  transition-property: color;
  transition: 0.25s ease-in-out;
}
